[submodule "app"]
	path = app
	url = https://github.com/Delor4/CarceresBE
[submodule "carceres"]
	path = carceres
	url = https://github.com/Delor4/CarceresFE
[submodule "docker"]
	path = docker
	url = https://github.com/Delor4/CarceresC
[submodule "mobile"]
	path = mobile
	url = https://github.com/entaro111/Carceres_Android
